* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: var(--font-informative);

  line-height: normal;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}



#table-panel-polynom, 
.point-panel.scroll {
  padding-right: 4px;
  height: 100%
}

.scroll {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
  width: 8px;
}

.scroll::-webkit-scrollbar-track {
  background: var(--darkblue-bright); 
}

.scroll::-webkit-scrollbar-thumb {
  background: var(--white-dark); 
  border-radius: 3px;
}
.scroll::-webkit-scrollbar-thumb:hover {
  background: var(--white-normal);
}

.main-wrapper {
  background-color: var(--darkblue-bright);

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
}

.menu-item .line-block {
  padding: 0;
}

.menu-item {
  background-color: var(--darkblue-normal);

  width: 100%;
  height: auto;

  padding: 16px 20px;
  border-radius: 4px;

  display: flex;
  flex-direction: column;

  transition: background-color 0.2s ease, transform 0.2s ease;
}

.menu-item:hover .project-name {
  background-color: var(--darkblue-accent);
}

.point-item {
  background-color: var(--darkblue-normal);

  width: 100%;
  height: 46px;

  border-radius: 6px;
  padding: 0 16px;
  gap: 8px;

  border-color: var(--darkblue-bright);
  align-items: center;
  border-style: solid;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}
.point-item img {
  position: relative;
  left: -4px;
}

.point-item:hover,
.menu-item:hover {
  background-color: var(--darkblue-accent);
  transform: scale(1.01); 
}
.menu-item:hover .text-item-head {
  color: var(--white-accent);
}


.side-panel {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 53px;
  height: 100vh;
  margin: 0 3px;
}

.icon-base {
  width: 20px;
  height: 20px;
}


.project-icon {
  margin-left: 4px;
  width: 30px;
  height: 30px;
  opacity: 0.8;
  padding: 2px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.project-icon:hover {
  opacity: 1;
  background-color: var(--darkblue-normal);
}


.control-panel {
  border-color: var(--darkblue-normal);
  background-color: var(--darkblue-normal);

  width: 27vw;
  height: 100vh;

  border-width: 0 3px;
  border-style: solid;

  display: flex;
  flex-direction: column;
}

#control-main-pentool .line-block.start {
  padding-left: 14px;
}

#control-main-polynom .control-title p {
  font-size: 22px;
}

/* .control-main:not(#control-main-points) {
  display: none;
} */

.control-main:not(#control-main-projects) {
  display: none;
}

.control-title {
  background-color: var(--darkblue-normal);

  width: 100%;
  min-height: 53px;
  max-height: 53px;
  padding: 0 12px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.control-button {
  background-color: var(--darkblue-normal);

  width: 100%;
  min-height: 53px;
  max-height: 53px;
  padding: 0 12px;

  display: flex;
  flex-direction: row;
  align-items: center;

  cursor: pointer;
}

.spm {
  height: auto;
  min-width: 53px;
  max-width: 53px;
}
.control-button.active {
  background-color: #4f7c8a;
  pointer-events: none;
}

.control-button.passive {
  display: none;
  /* cursor: default;
  pointer-events: none;
  opacity: 0.65; */
}


.side-panel-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: var(--darkblue-normal);
  padding: 5px;
  gap: 5px;
}

.side-panel-menu .control-button.side {

  width: 42px;
  min-height: 42px;
}

.side-panel-menu .control-button.side .icon-button {
  width: 30x;
  height: 30px;
}

.control-button.side .icon-button {
  width: 36px;
  height: 36px;
}

.icon-button {
  width: 42px;
  height: 42px;
}

#control-button-pentool .icon-button {
  width: 40px;
  height: 40px;
}

#control-button-menu .icon-button {
  width: 40px;
  height: 40px;
}


.control-button.side {
  justify-content: center;
  transition: background-color 0.2s ease;
}

.control-button.control {
  justify-content: space-between;
  transition: background-color 0.2s ease, text-decoration 0.2s ease, padding-left 0.2s ease;
}

.control-body .control-button.control {
  max-height: 43px;
  min-height: 43px;
  border-radius: 6px;
}


.control-body .control-button.control .icon-button {
  width: 34px;
  height: 34px;
}

.control-body .control-button.control:hover p {
  color: var(--white-accent);
}


.control-button:not(.active):not(.passive):hover {
  background-color: var(--darkblue-accent);
}

.control-button.control:hover {
  padding-left: 22px;

  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 3px;
  text-decoration-color: var(--white-normal);
}

.control-main {
  background-color: var(--darkblue-bright);

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: start;
}

.control-body {
  background-color: var(--darkblue-bright);

  height: 100%;
  width: 100%;
  padding: 12px 6px;
  gap: 8px;

  border-radius: 3px;

  display: flex;
  flex-direction: column;
  justify-content: start;

}

.control-body:not(#control-body-projects) {
  overflow-y: auto;
  overflow-x: hidden;
}

.canvas-panel {
  height: 100%;
  width: 100%;
  
  padding: 25px 75px 50px;

  display: flex;
  justify-content: center;
  position: relative;
}

.canvas-panel {
  height: 100%;
  width: 100%;
  padding: 25px 50px 50px;
  display: flex;
  justify-content: center;
  position: relative;
}

.canvas-main {
  width: calc(100% - 100px);
  height: calc(100% - 75px);
  position: absolute;
  top: 25px;
  left: 50px;
}

#canvas-main {
  background-color: var(--white-accent);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error-message {
  font-size: 16px;
  line-height: 16px;
  height: 22px;
  color: rgb(218, 72, 72);
}

.progress {
  height: 100%;
  width: 0;
  background-color: aliceblue;
  border-radius: 4px;
}

#progress-s {
  transition: all 0.5s ease;
}

input {
  
  width: 64px;
  height: 26px;
  background-color: var(--white-normal);
  border: 3px solid var(--darkblue-normal);
  border-radius: 6px;
  margin-right: 4px;
  padding-left: 4px;

  font-weight: bold;

}
input[type="color"] {
  padding-left: 0px;

  height: 28px;
}

.table-data {
  width: 100%;
  height: auto;

  border: 3px solid var(--darkblue-normal);
  border-radius: 6px;
  border-spacing: 0;
  border-collapse: separate;
}

th,
td {
  padding-top: 8px;

  border-right: 3px solid var(--darkblue-normal);
  border-bottom: 3px solid var(--darkblue-normal);

  line-height: 20px;
  text-align: center;
}

th {
  color: var(--white-normal);
  background-color: var(--darkblue-normal);

  height: 38px;

  font-size: 16x;
  letter-spacing: 1px;
  font-weight: bold;
}


tbody tr td:first-child {

  color: var(--white-normal);
  background-color: var(--darkblue-normal);
}

td {
  color: var(--white-normal);
  height: 30px;

  font-size: 15px;
  letter-spacing: 0.75px;
  font-weight: bold;
  white-space: pre-wrap;
}

#table-polynom th {
  width: 20%;
}

#table-points td {
  vertical-align: bottom; 
  line-height: 20px;
}

#table-points th:nth-child(2) {
  width: 37.5%;
}

#table-points th:first-child {
  width: 25%;
}

#table-points td:not(:first-child) {
  text-align: end;
  padding-right: 30px;
}

.text-button {
  color: var(--white-accent);
  font-size: 24px;
  letter-spacing: 2px;
}
hr {
  border: none;
  height: 2px;
  background-color: var(--darkblue-normal);
  margin: 0 6px;
}
.control-body .control-button.control .text-button {
  color: var(--white-normal);
  font-size: 18px;
}
.control-body .control-button.control .icon-button {
  opacity: 0.85;
}
.control-body .control-button.control:hover .icon-button {
  opacity: 1;
}

thead {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.text-item-head {
  color: var(--white-normal);
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 1.3;
  text-decoration: none;
  padding-bottom: 6px;
}

.text-item-body {
  padding-left: 10px;
  text-align: justify;
  opacity: 0.85;
  color: var(--white-dark);
  font-size: 14px; 
  line-height: 1.4; 
  hyphens: auto;
  word-spacing: -1px;
}

.canvas-preview {
  margin-top: 12px;
  background-color: var(--white-accent);
  width: 100%;
  height: 145px;
}


.project-name {
  width: 100%;
  height: 26px;
  background-color: var(--darkblue-normal);
  border-radius: 4px;
  border-width: 1px;
  border-color: var(--darkblue-bright);
  color: var(--white-accent);
  font-size: 16px;
  line-height: 16px;
  padding-left: 6px;
  letter-spacing: 1.5px;

  transition: background-color 0.2s ease;
}

.project-name:focus {
  background-color: var(--darkblue-normal);
}

.text-progress span,
.text-progress {
  color: var(--white-accent);
  font-size: 16px;
  line-height: 16px;
  padding-left: 6px;
  letter-spacing: 1.5px;
}

.text-item-info {
  color: var(--white-normal);
  padding-left: 4px;
  font-size: 16px;
  line-height: 16px;
}

.point-item .text-item-info {
  color: var(--white-normal);
  width: 35%;
  font-weight: bold;
  position: relative;
  top: 1px;
}

#control-main-pallete > .text-item-info {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
}

.progress-bar {
  width: 100%;
  height: 28px;
  
  border: 3px solid var(--darkblue-normal);
  border-radius: 6px;

  position: relative;
  top: -4px;
}

.line-block {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#control-body-pallete .line-block {
  padding-left: 14px;
}
#control-body-pallete {
  gap: 6px;
}


.line-block.start {
  justify-content: flex-start;
}

#table-point-body tr td {
  text-align: center;
  text-justify: start
}









